html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 67%;
    height: auto;
    position: fixed;
    padding: 1em;
    right: 0;
    background-color: #9bcdf5;
    z-index: 1000;
}

nav {
    z-index: 400;
    opacity: .8;
    background: #fff;
    position: relative;
    width: 30%;
    height: 1em;
    display: block;
    float: left;
}

footer {
    border-top: 5px solid #000040;
    height: 5em;
    background-image: linear-gradient(180deg, #fff, #226cb7);
}

.oben {
    height: 40em;
    background-color: #539be7;
    z-index: -1000;
    position: relative;
}

.mitte {
    height: 30em;
}
.mitte div {
    width: 33.33%;
    background-color: #4ba47e;
    height: 30em;
}

.article_links {
    float: left;
    opacity: .3;
}

.article_mitte {
    float: left;
    opacity: .5;
}

.article_rechts {
    float: right;
}

.unten {
    height: 30em;
}

.unten > div {
    width: 50%;
    height: 30em;
}

.unten > div > div {
    background-color: #b7d6f5;
}

.container_links {
    display: flex;
    float: left;
    justify-content: center;
    background-image: linear-gradient(225deg, #226cb7, #fff);
}

.container_rechts {
    float: right;
    background-image: linear-gradient(135deg, #226cb7, #fff);
}

.container_links div {
    width: 45%;
    height: 70%;
    position: relative;
    top: 15%;
}

.container_1 {
    margin-right: 12px;
}

.container_2 {
    margin-left: 12px;
}

.container_3 {
    width: 90%;
    height: 70%;
    position: relative;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
}

#container_oben {
    position: absolute;
    float: left;
    bottom: 0;
    width: 33%;
    height: 50%;
}

#container_oben_2 {
    background-color: #b7d6f5;
    width: 50%;
    height: 70%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
}